:root{
	--dd_item_height: 1em;
	--dd_item_padding: 10px;
}

#i_joi{
	height: 100%;
	width: 100%;
	
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	z-index:-1;
}

* {
	font-family: Verdana , sans-serif;
}



#reactDrop{
	position: relative;	
	z-index: 2000;
	overflow: visible;
	width: 210px;
}

#btn_reactDD{
	width: 100%;
	margin: 0;
	grid-template-columns: auto auto;
	display: flex;
	text-overflow: ellipsis;
	overflow: hidden;
	align-items: center;
    justify-content: center;

}

#btn_reactDD > *{
	margin: 0;
	padding: 5px;
	min-height: 1em;
	float: left;
	display: table-cell;
} 
	

#btn_reactDD_value{
	flex-grow: 1;
	text-align: center;
    width: auto;
	text-overflow: ellipsis;
	overflow: hidden;
}

#btn_reactDD_arrow{
	text-align: right;
	align-self: right;
	display: inline-block;
	display: block;
}

#reactDD {
	position: relative;
	height: 1px;
	
	visibility: hidden;
	width: 100%;
	max-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2001;
	margin-top: -0.25em;
}

#reactDD_scroll {
	max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
	scrollbar-width: none;
	margin-top: calc((1em + 20px)* -1);
}

.reactDD_scrollBtn {
	width: 100%;
	background-color: #222;
	color: white;
	min-height: var(--dd_item_height);
	padding: var(--dd_item_padding);
	border-radius: 0;
	z-index: 2002;
	position:relative;
}

.reactDD_scrollBtn:hover {
	color: white;
	background-color: #555;
}

#reactDD_scrollBtn_up{
}

#reactDD_scrollBtn_down{
	border-radius: 0 0 0.5em 0.5em;
}

/* #reactDD > div  > a */
.reactDD_litxt {
	background-color: #000000cf;
	display: block;
	color: white;
	padding: var(--dd_item_padding);
	overflow: hidden;
	text-decoration:none;  
	text-overflow:ellipsis;
	white-space:normal;
	position:relative;
	text-align: center;
	min-height: var(--dd_item_height);
	border-width: 1px;
	border-style: solid:
	border-image:
		 linear-gradient(
		  to bottom, 
		  red, 
		  rgba(0, 0, 0, 0)
		) 1 100%;
}


.reactDD_litxt:hover {
	background-color: gray;
}

#canvas {
    position: absolute;
	top: 0;
	left: 0;
    width: 100vw;
    height: 100vh;
	margin-left: auto;
	margin-right: auto;
	z-index:0;
	visibility: visible;
	overflow: hidden;
	display: flex;
	justify-content: center center;
	align-items: center center;
	text-align: center center;
	visibility: visible;
}

.bImg{
	z-index:0;
	width: 100%;
	height: 100%;
}

#bVid {
	height: calc(100vh - 3vh);
	bottom: 3vh;
}

#reactText{
	width: 100%;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:normal;
	padding-top: 0.5em;
}

.area {
	position: absolute;
	color: black;
	background-color: rgba(100, 100, 100, 0.4);
	z-index: 100;
	overflow: visible;
	max-width: 33vw;
	border-radius: 0.25em;
}

.content {
	position: relative;
	white-space: nowrap; 
	overflow: visible;
	display: flex;
	flex-direction: column;
	width: auto;
}

.content > *:first-child{
	margin-top: 0.5em;
}

.content > *:last-child{
	margin-bottom: 1em;
}

.content > * {
	padding: 0.25em;
	margin: 0;
}

.content p {
	text-shadow: 0.05em 0.05em 0.25em rgba(0,0,0,0.2);
}

.content button p {
	text-shadow: none;
}

button {
	border: none;
	box-shadow: 0.05em 0.05em 0.25em 0px rgba(0,0,0,0.2);
	border-radius: 0.25em;
}

button:hover {
	color: grey;
}



#rtop-left{
	top: 10px;
	left: 10px;
	padding-left: 10px;
	padding-right: 20px;
	justify-content: left;
}

#rtop-center{
	top: 10px;
	left: 50vw;	
	-ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
	border-radius: 0.45em;
}

#top-center{
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
	align-items: center ;
	text-align: center;
}

#rtop-right{
	top: 10px;
	right: 10px;
	padding-left: 10px;
	padding-right: 20px;
	justify-content: left;
	
}

#rbottom-left{
	bottom: 3vh;
	left: 10px;
	padding-left: 10px;
	padding-right: 20px;
	justify-content: left;
}

#rbottom-center{
	bottom: 3vh;
	left: 50vw;	
	-ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
	border-radius: 0.45em;
}

#bottom-center{
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
	align-items: center ;
	text-align: center;
}

#rbottom-right{
	bottom: 3vh;
	right: 10px;
	padding-left: 10px;
	padding-right: 20px;
	display: flex;
	justify-content: left;
}

#buttons{
	margin: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	padding: 0;
}

#buttons > * {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0.25em;
	border-radius: 0.3em;
}

.text{
	margin: 0; 
	z-index: 110;
	white-space:normal;
}

.tooltipBar{
	position: absolute;
	width: auto;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	z-index: 1000;
	visibility: hidden;
	overflow: visible;
	flex-wrap: nowrap;
}

.spacer{
	height: 0.1em;
	clear: both;
	margin: 0;
	padding:0;	
	overflow: hidden; 
}


.tooltipItem, 
.tooltipBar > p {
	position: absolute;
	background-color: rgba(30, 30, 30, 0.98);
	color: rgb(255, 255, 255);
	padding: 0.5rem;
	border-radius: 10px;
	width: auto;
	height: auto;
	z-index: 1001;
	visibility: collapse;
	white-space: nowrap;
	text-align: center center;
	margin: 0;
	margin-top: 0.25em;
	-ms-transform: translate(-25%, 0%);
    transform: translate(-25%, 0%);
}
